<div class="text-center">
  <h2>Current time {{time-zone-clock dateToDisplay=currentDate}}</h2>
</div>
<div class="list-group">
  {{#each model as |member|}}
    <div class="list-group-item member">
      <div class="name">{{member.name}}</div>
      <div class="time">{{time-zone-clock dateToDisplay=currentDate timeZone=member.timeZone}}</div>

      <div class="location">{{member.location}}</div>
    </div>
  {{/each}}
</div>
